body {
  margin: 0;
}

.App {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.Header {
  width: 100%;
  height: 10%;
  position: relative;
}

.Body {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
}

@media screen and (min-width: 50em)  {
  * {
    outline: red dashed 1px;
    box-sizing: border-box;
  }
  
  .App {
    background-color: blue;
    height: 100vh;
    width: 100vw;
  }

  .Header {
    min-height: 6.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1.50rem;
  }

  .Footer {
    display: flex;
    justify-content: space-between; 
  }

}